body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 12pt;
    font-color: #0000CC;
}

#content {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 100%;
    color: black;
    font-size: 40px;
    text-align: left;
    margin-bottom: 4px;
    margin-top: 4px;
    border-bottom: solid 1px gray;
}

#main {
    padding: 2px;
}

#nodes {
    float: left;
    width: 350px;
    margin-right: 2px;
}

#commands {
    width: 100%;
    margin-left: 2px;
}

#node_details {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    border: solid 1px grey;
    padding: 4px;
    overflow: auto;
    display: none;
}

#top {
    font-size: 10pt;
    font-weight: lighter;
}

.node {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    border: solid 1px grey;
    padding: 4px;
}

.nodetitle {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 4px;
}

.nodesubheading {
    font-size: 10pt;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 16px;
    border-bottom: 1px solid black;
}

.nodeelement {
    font-weight: normal;
    font-size: 10pt;
}

table.nodetable {
    width: 100%;
    font-size: 8pt;
    font-weight: lighter;
}

td.nodetableL {
    width: 40%
}

td.nodetableR {
    width: 60%;
}


td.nodetableH {
    font-weight: bold;
}

td.nodetableLi {
    width: 40%;
    padding-left: 16px;
}

td.nodetableRi {
    width: 60%;
    padding-left: 16px;
}



ol {
    margin-left: 0px;
}

li {
    margin-left: 0px;
    padding-left: 0px;
}


div.statdiv {
      margin-top: 8px;
      border-top: 2px solid black;

}


.command {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
    border: solid 1px grey;
    padding: 4px;
    overflow: auto;
}

.commandtitle {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 4px;
}

.commandelement {
    font-weight: normal;
    font-size: 10pt;
}

.commandform {
    width: 100%;
}

.commandlabel {
    display: block;
    width: 700px;
    overflow: auto;
}

.commandtext {
    width: 200px;
    display: inline-block;
}

.commandinput {
    display: inline;
    width: 450px;
}

.commandbutton {

}

.tabuncon {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: smaller;
    color: lightgray;
}

.tabcon {
    text-decoration: none;
    font-weight: bold;
}

.errortxt {
    font-size: 10pt;
    font-weight: normal;
    font-color: red;
    text-align: center;
}

.vmplot {
    margin-top: 8px;
    font-size: 10pt;
    font-weight: lighter;
    height: 400px;
    width: 100%;
    border: 1px dashed lightgrey;
}


.ui-tabs-vertical {
    width: 55em;
}

.ui-tabs-vertical .ui-tabs-nav {
    padding: .2em .1em .2em .2em;
    float: left;
    width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-bottom-width: 1px !important;
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: .1em;
    border-right-width: 1px;
    border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 40em;
}

